#product-tabs-slider.scroll-tabs.outer-top-vs
  .more-info-tab.clearfix
    h3.new-product-title.pull-left= title
  .tab-content.outer-top-xs
    #all.tab-pane.in.active
      .product-slider
        .owl-carousel.home-owl-carousel.custom-carousel.owl-theme
          block products
