extends ../layouts/layout
block contents
    .container.wish-list
        if (products.length === 0)
            h1.text-center Bạn chưa yêu thích sản phẩm nào!
        else
            include ./wishlist
    