html
  head
  body
    .main-sidebar.sidebar-style-3
      aside#sidebar-wrapper
        .sidebar-brand
          a(href='index-2.html') CodiePie
        |                 
        .sidebar-brand.sidebar-brand-sm
          a(href='index-2.html') CP
        |                 
        ul.sidebar-menu
          li.menu-header Dashboard
          |                     
          li.dropdown.active
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-fire
              span Dashboard
            |                         
            ul.dropdown-menu
              li
                a.nav-link(href='index-0.html') Analytics
              |                             
              li.active
                a.nav-link(href='index-2.html') Ecommerce
          |                     
          li.menu-header Starter
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#', data-toggle='dropdown')
              i.fas.fa-columns
              |  
              span Layout
            |                         
            ul.dropdown-menu
              li
                a.nav-link(href='layout-default.html') Default Layout
              |                             
              |                             
              li
                a.nav-link(href='layout-top-navigation.html') Top Navigation
          |                     
          li
            a.nav-link(href='blank.html')
              i.far.fa-square
              |  
              span Blank Page
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-th
              |  
              span Bootstrap
            |                         
            ul.dropdown-menu
              li
                a.nav-link(href='bootstrap-alert.html') Alert
              |                             
              li
                a.nav-link(href='bootstrap-badge.html') Badge
              |                             
              li
                a.nav-link(href='bootstrap-breadcrumb.html') Breadcrumb
              |                             
              li
                a.nav-link(href='bootstrap-buttons.html') Buttons
              |                             
              li
                a.nav-link(href='bootstrap-card.html') Card
              |                             
              li
                a.nav-link(href='bootstrap-carousel.html') Carousel
              |                             
              li
                a.nav-link(href='bootstrap-collapse.html') Collapse
              |                             
              li
                a.nav-link(href='bootstrap-dropdown.html') Dropdown
              |                             
              li
                a.nav-link(href='bootstrap-form.html') Form
              |                             
              li
                a.nav-link(href='bootstrap-list-group.html') List Group
              |                             
              li
                a.nav-link(href='bootstrap-media-object.html') Media Object
              |                             
              li
                a.nav-link(href='bootstrap-modal.html') Modal
              |                             
              li
                a.nav-link(href='bootstrap-nav.html') Nav
              |                             
              li
                a.nav-link(href='bootstrap-navbar.html') Navbar
              |                             
              li
                a.nav-link(href='bootstrap-pagination.html') Pagination
              |                             
              li
                a.nav-link(href='bootstrap-popover.html') Popover
              |                             
              li
                a.nav-link(href='bootstrap-progress.html') Progress
              |                             
              li
                a.nav-link(href='bootstrap-table.html') Table
              |                             
              li
                a.nav-link(href='bootstrap-tooltip.html') Tooltip
              |                             
              li
                a.nav-link(href='bootstrap-typography.html') Typography
          |                     
          li.menu-header CodiePie
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-th-large
              |  
              span Components
            |                         
            ul.dropdown-menu
              li
                a.nav-link(href='components-article.html') Article
              |                             
              li
                a.nav-link.beep.beep-sidebar(href='components-avatar.html') Avatar
              |                             
              li
                a.nav-link(href='components-chat-box.html') Chat Box
              |                             
              li
                a.nav-link.beep.beep-sidebar(href='components-empty-state.html') Empty State
              |                             
              li
                a.nav-link(href='components-gallery.html') Gallery
              |                             
              li
                a.nav-link.beep.beep-sidebar(href='components-hero.html') Hero
              |                             
              li
                a.nav-link(href='components-multiple-upload.html') Multiple Upload
              |                             
              li
                a.nav-link.beep.beep-sidebar(href='components-pricing.html') Pricing
              |                             
              li
                a.nav-link(href='components-statistic.html') Statistic
              |                             
              li
                a.nav-link(href='components-tab.html') Tab
              |                             
              li
                a.nav-link(href='components-table.html') Table
              |                             
              li
                a.nav-link(href='components-user.html') User
              |                             
              li
                a.nav-link.beep.beep-sidebar(href='components-wizard.html') Wizard
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.far.fa-file-alt
              |  
              span Forms
            |                         
            ul.dropdown-menu
              li
                a.nav-link(href='forms-advanced-form.html') Advanced Form
              |                             
              li
                a.nav-link(href='forms-editor.html') Editor
              |                             
              li
                a.nav-link(href='forms-validation.html') Validation
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-map-marker-alt
              |  
              span Google Maps
            |                         
            ul.dropdown-menu
              li
                a(href='gmaps-advanced-route.html') Advanced Route
              |                             
              li
                a(href='gmaps-draggable-marker.html') Draggable Marker
              |                             
              li
                a(href='gmaps-geocoding.html') Geocoding
              |                             
              li
                a(href='gmaps-geolocation.html') Geolocation
              |                             
              li
                a(href='gmaps-marker.html') Marker
              |                             
              li
                a(href='gmaps-multiple-marker.html') Multiple Marker
              |                             
              li
                a(href='gmaps-route.html') Route
              |                             
              li
                a(href='gmaps-simple.html') Simple
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-plug
              |  
              span Modules
            |                         
            ul.dropdown-menu
              li.menu-sub-header Apps
              |                             
              li
                a.nav-link(href='modules-calendar.html') Calendar
              |                             
              |                             
              li.menu-sub-header Charts
              |                             
              li
                a.nav-link(href='modules-chartjs.html') ChartJS
              |                             
              li
                a.nav-link(href='modules-apex-charts.html') Apex Charts
              |                             
              li
                a.nav-link(href='modules-e-charts.html') E Charts
              |                             
              li
                a.nav-link(href='modules-c3-charts.html') C3 Charts
              |                             
              li
                a.nav-link(href='modules-knob-charts.html') Knob Charts
              |                             
              li
                a.nav-link(href='modules-sparkline.html') Sparkline
              |                             
              li.menu-sub-header Tables
              |                             
              li
                a.nav-link(href='modules-datatables.html') DataTables
              |                             
              li
                a.nav-link(href='modules-table-more.html') More
              |                             
              li.menu-sub-header Font Icons
              |                             
              li
                a.nav-link(href='modules-font-awesome.html') Font Awesome
              |                             
              li
                a.nav-link(href='modules-line-icons.html') Line Icons
              |                             
              li
                a.nav-link(href='modules-feather-icons.html') Feather Icons
              |                             
              li
                a.nav-link(href='modules-ion-icons.html') Ion Icons
              |                             
              li
                a.nav-link(href='modules-flag.html') Flag
              |                             
              li
                a.nav-link(href='modules-weather-icon.html') Weather Icon
              |                             
              li.menu-sub-header Other
              |                             
              li
                a.nav-link(href='modules-owl-carousel.html') Owl Carousel
              |                             
              li
                a.nav-link(href='modules-sweet-alert.html') Sweet Alert
              |                             
              li
                a.nav-link(href='modules-toastr.html') Toastr
              |                             
              li
                a.nav-link(href='modules-vector-map.html') Vector Map
          |                     
          li.menu-header Pages
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.far.fa-user
              |  
              span Auth
            |                         
            ul.dropdown-menu
              li
                a(href='auth-forgot-password.html') Forgot Password
              |  
              |                             
              li
                a(href='auth-login.html') Login
              |  
              |                             
              li
                a(href='auth-register.html') Register
              |  
              |                             
              li
                a(href='auth-reset-password.html') Reset Password
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-exclamation
              |  
              span Errors
            |                         
            ul.dropdown-menu
              li
                a.nav-link(href='errors-503.html') 503
              |  
              |                             
              li
                a.nav-link(href='errors-403.html') 403
              |  
              |                             
              li
                a.nav-link(href='errors-404.html') 404
              |  
              |                             
              li
                a.nav-link(href='errors-500.html') 500
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-bicycle
              |  
              span Features
            |                         
            ul.dropdown-menu
              li
                a.nav-link(href='features-activities.html') Activities
              |                             
              li
                a.nav-link(href='features-post-create.html') Post Create
              |                             
              li
                a.nav-link(href='features-posts.html') Posts
              |                             
              li
                a.nav-link(href='features-profile.html') Profile
              |                             
              li
                a.nav-link(href='features-settings.html') Settings
              |                             
              li
                a.nav-link(href='features-setting-detail.html') Setting Detail
              |                             
              li
                a.nav-link(href='features-tickets.html') Tickets
          |                     
          li.dropdown
            a.nav-link.has-dropdown(href='#')
              i.fas.fa-ellipsis-h
              |  
              span Utilities
            |                         
            ul.dropdown-menu
              li
                a(href='utilities-contact.html') Contact
              |                             
              li
                a.nav-link(href='utilities-invoice.html') Invoice
              |                             
              li
                a(href='utilities-subscribe.html') Subscribe
          |                     
          li
            a.nav-link(href='credits.html')
              i.fas.fa-pencil-ruler
              |  
              span Credits
        |                 
        .mt-4.mb-4.p-3.hide-sidebar-mini
          a.btn.btn-primary.btn-lg.btn-block.btn-icon-split(href='https://getcodiepie.com/docs')
            i.fas.fa-rocket
            |  Documentation
