extends ../layouts/layout
block contents 
    .body-content
        .container(style="margin-top: 50px;") 
            .sign-in-page
                .row
                    // Sign-in
                    .col-md-6.col-sm-6.sign-in
                        h4 Sign in
                        p Hello, Welcome to your account.
                        .social-sign-in.outer-top-xs
                            a.facebook-sign-in(href='#')
                                i.fa.fa-facebook
                                |  Sign In with Facebook
                            a.twitter-sign-in(href='#')
                                i.fa.fa-twitter
                                |  Sign In with Twitter
                        form.register-form.outer-top-xs(role='form', method="POST", action="/authentication/login")
                            .form-group
                                label.info-title(for='exampleInputEmail1')
                                    | Email Address 
                                    span *
                                input#exampleInputEmail1.form-control.unicase-form-control.text-input(type='email',name="email", required, value= values ? values.email : "")
                            .form-group
                                label.info-title(for='exampleInputPassword1')
                                    | Password 
                                    span *
                                input#exampleInputPassword1.form-control.unicase-form-control.text-input(type='password',name= "password", required, value= values ? values.password : "")
                            .radio.outer-xs
                                label
                                    input(type='checkbox', name='optionsRadios', value='option2', style="margin: 0")
                                    |          Remember me!
                                a.forgot-password.pull-right(href='#') Forgot your Password?
                            p(style="color: red;")= error || ""
                            button.btn-upper.btn.btn-primary.checkout-page-button(type='submit') Login
                        // Sign-in
                        // create a new account
                    .col-md-6.col-sm-6.create-new-account
                        h4.checkout-subtitle Create a new account
                        p.text.title-tag-line Create your new account.
                        form.register-form.outer-top-xs(role='form', method="POST", action="/authentication")
                            .form-group
                                label.info-title(for='exampleInputEmail2')
                                    | Email Address 
                                    span *
                                input#exampleInputEmail2.form-control.unicase-form-control.text-input(type='email', name="emailSignUp", required, value= values ? values.emailSignUp : "")
                            .form-group
                                label.info-title(for='exampleInputEmail1')
                                    | Name 
                                    span *
                                input#exampleInputEmail1.form-control.unicase-form-control.text-input(type='text', name="name", required, value= values ? values.name : "")
                            .form-group
                                label.info-title(for='exampleInputEmail1')
                                    | Phone Number 
                                    span *
                                input#exampleInputEmail1.form-control.unicase-form-control.text-input(type='tel', name="phone", required, value= values ? values.phone : "")
                            .form-group
                                label.info-title(for='exampleInputEmail1')
                                    | Password 
                                    span *
                                input#exampleInputEmail1.form-control.unicase-form-control.text-input(type='password', name="passwordSignUp", required, value= values ? values.passwordSignUp : "")
                            .form-group
                                label.info-title(for='exampleInputEmail1')
                                    | Confirm Password 
                                    span *
                                input#exampleInputEmail1.form-control.unicase-form-control.text-input(type='password', name="confirmPassword", required, value= values ? values.confirmPassword : "")
                            p(style="color: red;")= errorSignUp || ""
                            button.btn-upper.btn.btn-primary.checkout-page-button(type='submit') Sign Up
                        // create a new account
                    // /.row
