.sidebar-widget.outer-top-vs
  #advertisement.advertisement
    .item
      .avatar
        img(src='https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-1/p320x320/83633387_1371386489716132_5102239796948893696_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=7206a8&_nc_ohc=mWaovuvot20AX_YBzRY&_nc_ht=scontent-hkg4-1.xx&tp=6&oh=a3c879d95c05b1218ac649e9ea820145&oe=60B852C5', alt='Image')
      .testimonials
        em &quot;
        |  Thực hiện code trang web.
        em &quot;
      .clients_author
        | Bùi Phạm Vĩnh Kỳ
        span Coder
      // /.container-fluid
    // /.item
    .item
      .avatar
        img(src='https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-1/s480x480/159905529_1062709350889457_497447333267958988_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=7206a8&_nc_ohc=NPQiaQD6ehkAX_7Sw-w&_nc_oc=AQlExtZBhKOO6kKeGiPTidKUrU5iY1NNKPkjoIbma5BBSSpmH1KBKuFTZL2lXV8Y1No&_nc_ht=scontent-hkg4-2.xx&tp=7&oh=8a19e7de569e5be8cecc38de2941f72f&oe=60BA4D50', alt='Image')
      .testimonials
        em &quot;
        | &Ocirc;ng Ho&agrave;ng Figma, thao t&aacute;c nh&agrave; v&ocirc; &dstrok;ich.
        em &quot;
      .clients_author
        | Trần Hoàng Triều
        span Leader
    // /.item
    .item
      .avatar
        img(src='https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-1/p320x320/149152168_1579002848957709_2530122155291496505_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=7206a8&_nc_ohc=UZvF0zdM9CwAX9J9pji&_nc_ht=scontent-hkg4-1.xx&tp=6&oh=4460fc4bc5ad36a1246311f4ab0df66d&oe=60BAF0E2', alt='Image')
      .testimonials
        em &quot;
        | &Ocirc;ng Ho&agrave;ng Figma, thao t&aacute;c nh&agrave; v&ocirc; &dstrok;ich.
        em &quot;
      .clients_author
        | Mai Hữu Tín
        span Shaman
    // /.item