#exampleModalCenter.modal.fade.modal-wrapper
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                |
                .modal-inner-area.row
                    .col-lg-5.col-md-6.col-sm-6
                        // Product Details Left
                        .product-details-left
                            .product-details-images.slider-navigation-1
                                .lg-image
                                    img(src=product.image, alt='product image')
                                |
                                //- .lg-image
                                //-     img(src='images/product/large-size/2.jpg', alt='product image')
                                //- |
                                //- .lg-image
                                //-     img(src='images/product/large-size/3.jpg', alt='product image')
                                //- |
                                //- .lg-image
                                //-     img(src='images/product/large-size/4.jpg', alt='product image')
                                //- |
                                //- .lg-image
                                //-     img(src='images/product/large-size/5.jpg', alt='product image')
                                //- |
                                //- .lg-image
                                //-     img(src='images/product/large-size/6.jpg', alt='product image')
                            |
                            .product-details-thumbs.slider-thumbs-1
                                .sm-image
                                    img(src='images/product/small-size/1.jpg', alt='product image thumb')
                                |
                                .sm-image
                                    img(src='images/product/small-size/2.jpg', alt='product image thumb')
                                |
                                .sm-image
                                    img(src='images/product/small-size/3.jpg', alt='product image thumb')
                                |
                                .sm-image
                                    img(src='images/product/small-size/4.jpg', alt='product image thumb')
                                |
                                .sm-image
                                    img(src='images/product/small-size/5.jpg', alt='product image thumb')
                                |
                                .sm-image
                                    img(src='images/product/small-size/6.jpg', alt='product image thumb')
                        // Product Details Left
                    |
                    .col-lg-7.col-md-6.col-sm-6
                        .product-details-view-content.pt-60
                            .product-info
                                h2 Today is a good day Framed poster
                                |
                                span.product-details-ref Reference: demo_15
                                |
                                .rating-box.pt-20
                                ul.rating.rating-with-review-item
                                    li
                                        i.fa.fa-star-o
                                    |
                                    li
                                        i.fa.fa-star-o
                                    |
                                    li
                                        i.fa.fa-star-o
                                    |
                                    li.no-star
                                        i.fa.fa-star-o
                                    |
                                    li.no-star
                                        i.fa.fa-star-o
                                    |
                                    li.review-item
                                        a(href='#') Read Review
                                    |
                                    li.review-item
                                        a(href='#') Write Review
                                |
                                .price-box.pt-20
                                    span.new-price.new-price-2 $57.98
                                |
                                .product-desc
                                    p
                                        span
                                        | 100% cotton double printed dress. Black and white striped top and orange high waisted skater skirt bottom. Lorem ipsum dolor sit amet, consectetur adipisicing elit. quibusdam corporis, earum facilis et nostrum dolorum accusamus similique eveniet quia pariatur.
                                |
                                .product-variants
                                    .produt-variants-size
                                        label Dimension
                                        |
                                        select.nice-select
                                            option(value='1', title='S', selected='selected') 40x60cm
                                            |
                                            option(value='2', title='M') 60x90cm
                                            |
                                            option(value='3', title='L') 80x120cm
                                |
                                .single-add-to-cart
                                    form.cart-quantity(action='#')
                                        .quantity
                                            label Quantity
                                            |
                                            .cart-plus-minus
                                                input.cart-plus-minus-box(value='1', type='text')
                                                |
                                                .dec.qtybutton
                                                    i.fa.fa-angle-down
                                                |
                                                .inc.qtybutton
                                                    i.fa.fa-angle-up
                                        |
                                        button.add-to-cart(type='submit') Add to cart
                                |
                                .product-additional-info.pt-25
                                    a.wishlist-btn(href='wishlist.html')
                                        i.fa.fa-heart-o
                                        | Add to wishlist
                                    |
                                .product-social-sharing.pt-25
                                    ul
                                        li.facebook
                                            a(href='#')
                                                i.fa.fa-facebook
                                                | Facebook
                                        |
                                        li.twitter
                                            a(href='#')
                                                i.fa.fa-twitter
                                                | Twitter
                                        |
                                        li.google-plus
                                            a(href='#')
                                                i.fa.fa-google-plus
                                                | Google +
                                        |
                                        li.instagram
                                            a(href='#')
                                                i.fa.fa-instagram
                                                | Instagram