.side-menu.animate-dropdown.outer-bottom-xs
  .head
    i.icon.fa.fa-align-justify.fa-fw
    |  Categories
  nav.yamm.megamenu-horizontal
    ul.nav
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-shopping-bag(aria-hidden='true')
          | Clothing
        ul.dropdown-menu.mega-menu
          li.yamm-content
            .row
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Dresses
                  li
                    a(href='#') Shoes 
                  li
                    a(href='#') Jackets
                  li
                    a(href='#') Sunglasses
                  li
                    a(href='#') Sport Wear
                  li
                    a(href='#') Blazers
                  li
                    a(href='#') Shirts
                  li
                    a(href='#') Shorts
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Handbags
                  li
                    a(href='#') Jwellery
                  li
                    a(href='#') Swimwear 
                  li
                    a(href='#') Tops
                  li
                    a(href='#') Flats
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') Winter Wear
                  li
                    a(href='#') Night Suits
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Toys &amp; Games
                  li
                    a(href='#') Jeans
                  li
                    a(href='#') Shirts
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') School Bags
                  li
                    a(href='#') Lunch Box
                  li
                    a(href='#') Footwear
                  li
                    a(href='#') Wipes
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Sandals 
                  li
                    a(href='#') Shorts
                  li
                    a(href='#') Dresses
                  li
                    a(href='#') Jwellery
                  li
                    a(href='#') Bags
                  li
                    a(href='#') Night Dress
                  li
                    a(href='#') Swim Wear
                  li
                    a(href='#') Toys
              // /.col
            // /.row
          // /.yamm-content
        // /.dropdown-menu
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-laptop(aria-hidden='true')
          | Electronics
        // ================================== MEGAMENU VERTICAL ==================================
        ul.dropdown-menu.mega-menu
          li.yamm-content
            .row
              .col-xs-12.col-sm-12.col-lg-4
                ul
                  li
                    a(href='#') Gaming
                  li
                    a(href='#') Laptop Skins
                  li
                    a(href='#') Apple
                  li
                    a(href='#') Dell
                  li
                    a(href='#') Lenovo
                  li
                    a(href='#') Microsoft
                  li
                    a(href='#') Asus
                  li
                    a(href='#') Adapters
                  li
                    a(href='#') Batteries
                  li
                    a(href='#') Cooling Pads
              .col-xs-12.col-sm-12.col-lg-4
                ul
                  li
                    a(href='#') Routers &amp; Modems
                  li
                    a(href='#') CPUs, Processors
                  li
                    a(href='#') PC Gaming Store
                  li
                    a(href='#') Graphics Cards
                  li
                    a(href='#') Components
                  li
                    a(href='#') Webcam
                  li
                    a(href='#') Memory (RAM)
                  li
                    a(href='#') Motherboards
                  li
                    a(href='#') Keyboards
                  li
                    a(href='#') Headphones
              .dropdown-banner-holder
                a(href='#')
                  img(alt='', src='assets/images/banners/banner-side.png')
            // /.row
          // /.yamm-content
        // /.dropdown-menu
        // ================================== MEGAMENU VERTICAL ==================================
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-paw(aria-hidden='true')
          | Shoes
        ul.dropdown-menu.mega-menu
          li.yamm-content
            .row
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Dresses
                  li
                    a(href='#') Shoes 
                  li
                    a(href='#') Jackets
                  li
                    a(href='#') Sunglasses
                  li
                    a(href='#') Sport Wear
                  li
                    a(href='#') Blazers
                  li
                    a(href='#') Shirts
                  li
                    a(href='#') Shorts
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Handbags
                  li
                    a(href='#') Jwellery
                  li
                    a(href='#') Swimwear 
                  li
                    a(href='#') Tops
                  li
                    a(href='#') Flats
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') Winter Wear
                  li
                    a(href='#') Night Suits
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Toys &amp; Games
                  li
                    a(href='#') Jeans
                  li
                    a(href='#') Shirts
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') School Bags
                  li
                    a(href='#') Lunch Box
                  li
                    a(href='#') Footwear
                  li
                    a(href='#') Wipes
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Sandals 
                  li
                    a(href='#') Shorts
                  li
                    a(href='#') Dresses
                  li
                    a(href='#') Jwellery
                  li
                    a(href='#') Bags
                  li
                    a(href='#') Night Dress
                  li
                    a(href='#') Swim Wear
                  li
                    a(href='#') Toys
              // /.col
            // /.row
          // /.yamm-content
        // /.dropdown-menu
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-clock-o
          | Watches
        ul.dropdown-menu.mega-menu
          li.yamm-content
            .row
              .col-xs-12.col-sm-12.col-lg-4
                ul
                  li
                    a(href='#') Gaming
                  li
                    a(href='#') Laptop Skins
                  li
                    a(href='#') Apple
                  li
                    a(href='#') Dell
                  li
                    a(href='#') Lenovo
                  li
                    a(href='#') Microsoft
                  li
                    a(href='#') Asus
                  li
                    a(href='#') Adapters
                  li
                    a(href='#') Batteries
                  li
                    a(href='#') Cooling Pads
              .col-xs-12.col-sm-12.col-lg-4
                ul
                  li
                    a(href='#') Routers &amp; Modems
                  li
                    a(href='#') CPUs, Processors
                  li
                    a(href='#') PC Gaming Store
                  li
                    a(href='#') Graphics Cards
                  li
                    a(href='#') Components
                  li
                    a(href='#') Webcam
                  li
                    a(href='#') Memory (RAM)
                  li
                    a(href='#') Motherboards
                  li
                    a(href='#') Keyboards
                  li
                    a(href='#') Headphones
              .dropdown-banner-holder
                a(href='#')
                  img(alt='', src='assets/images/banners/banner-side.png')
              // /.row
          // /.yamm-content
        // /.dropdown-menu
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-diamond
          | Jewellery
        ul.dropdown-menu.mega-menu
          li.yamm-content
            .row
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Dresses
                  li
                    a(href='#') Shoes 
                  li
                    a(href='#') Jackets
                  li
                    a(href='#') Sunglasses
                  li
                    a(href='#') Sport Wear
                  li
                    a(href='#') Blazers
                  li
                    a(href='#') Shirts
                  li
                    a(href='#') Shorts
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Handbags
                  li
                    a(href='#') Jwellery
                  li
                    a(href='#') Swimwear 
                  li
                    a(href='#') Tops
                  li
                    a(href='#') Flats
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') Winter Wear
                  li
                    a(href='#') Night Suits
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Toys &amp; Games
                  li
                    a(href='#') Jeans
                  li
                    a(href='#') Shirts
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') School Bags
                  li
                    a(href='#') Lunch Box
                  li
                    a(href='#') Footwear
                  li
                    a(href='#') Wipes
              // /.col
              .col-sm-12.col-md-3
                ul.links.list-unstyled
                  li
                    a(href='#') Sandals 
                  li
                    a(href='#') Shorts
                  li
                    a(href='#') Dresses
                  li
                    a(href='#') Jwellery
                  li
                    a(href='#') Bags
                  li
                    a(href='#') Night Dress
                  li
                    a(href='#') Swim Wear
                  li
                    a(href='#') Toys
              // /.col
            // /.row
          // /.yamm-content
        // /.dropdown-menu
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-heartbeat
          | Health and Beauty
        ul.dropdown-menu.mega-menu
          li.yamm-content
            .row
              .col-xs-12.col-sm-12.col-lg-4
                ul
                  li
                    a(href='#') Gaming
                  li
                    a(href='#') Laptop Skins
                  li
                    a(href='#') Apple
                  li
                    a(href='#') Dell
                  li
                    a(href='#') Lenovo
                  li
                    a(href='#') Microsoft
                  li
                    a(href='#') Asus
                  li
                    a(href='#') Adapters
                  li
                    a(href='#') Batteries
                  li
                    a(href='#') Cooling Pads
              .col-xs-12.col-sm-12.col-lg-4
                ul
                  li
                    a(href='#') Routers &amp; Modems
                  li
                    a(href='#') CPUs, Processors
                  li
                    a(href='#') PC Gaming Store
                  li
                    a(href='#') Graphics Cards
                  li
                    a(href='#') Components
                  li
                    a(href='#') Webcam
                  li
                    a(href='#') Memory (RAM)
                  li
                    a(href='#') Motherboards
                  li
                    a(href='#') Keyboards
                  li
                    a(href='#') Headphones
              .dropdown-banner-holder
                a(href='#')
                img(alt='', src='assets/images/banners/banner-side.png')
            // /.row
          // /.yamm-content
        // /.dropdown-menu
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-paper-plane
          | Kids and Babies
        // /.dropdown-menu
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-futbol-o
          | Sports
        // ================================== MEGAMENU VERTICAL ==================================
        // /.dropdown-menu
        // ================================== MEGAMENU VERTICAL ==================================
      // /.menu-item
      li.dropdown.menu-item
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon.fa.fa-envira
          | Home and Garden
        // /.dropdown-menu
      // /.menu-item
      // /.nav
    // /.megamenu-horizontal
    // /.side-menu
