// Begin Slider Area
.slider-with-banner
    .container
        .row
            .col-lg-8.col-md-8
                .slider-area
                    .slider-active.owl-carousel
                        // Begin Single Slide Area
                        .single-slide.align-center-left.animation-style-01.bg-1
                            .slider-progress
                            |
                            .slider-content
                                h5
                                    | Săn Sale
                                    span  Giảm Sốc 20%
                                    |  Chỉ Tuần Này
                                |
                                h2 iPhone 12 Pro Max  256GB
                                |
                                h3
                                    | Chỉ
                                    - var price = 29000000
                                    span= ' '+price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                |
                                .default-btn.slide-btn
                                    a.links(href='shop-left-sidebar.html') Shopping Now
                        // Single Slide Area End Here
                        // Begin Single Slide Area
                        .single-slide.align-center-left.animation-style-02.bg-2
                            .slider-progress
                            |
                            .slider-content
                                h5
                                    | Giảm Giá Sốc
                                    span  Deal Cuối Tuần
                                    |  Cực Sốc
                                |
                                h2 iPad Pro 2020 12.9"
                                |
                                h3
                                    | Chỉ
                                    - var price = 23000000
                                    span= ' '+price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                |
                                .default-btn.slide-btn
                                    a.links(href='shop-left-sidebar.html') Shopping Now
                        // Single Slide Area End Here
                        // Begin Single Slide Area
                        .single-slide.align-center-left.animation-style-01.bg-3
                            .slider-progress
                            |
                            .slider-content
                                h5
                                    | Sale Sinh Nhật
                                    span  Giảm 30%
                                    |  Duy Nhất Tháng 6
                                |
                                h2 Phantom 4 Pro+ Obsidian
                                |
                                h3
                                    | Chỉ
                                    - var price = 29000000
                                    span= ' '+price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                |
                                .default-btn.slide-btn
                                    a.links(href='shop-left-sidebar.html') Shopping Now
                        // Single Slide Area End Here
            // Slider Area End Here
            // Begin Li Banner Area
            .col-lg-4.col-md-4.text-center.pt-xs-30
                .li-banner
                    a(href='#')
                        img(src='images/banner/1_1.jpg', alt='')
                |
                .li-banner.mt-15.mt-sm-30.mt-xs-30
                    a(href='#')
                        img(src='images/banner/1_2.jpg', alt='')
            // Li Banner Area End Here
// Slider With Banner Area End Here