#hero
  #owl-main.owl-carousel.owl-inner-nav.owl-ui-sm
    .item(style='background-image: url(/assets/images/sliders/01.png);')
      .container-fluid
        .caption.bg-color.vertical-center.text-left
          .slider-header.fadeInDown-1.text-white.text-shadow Th&aacute;ng 05
          .big-text.fadeInDown-1.text-white.text-shadow  S&#x1EA3;n ph&#x1EA9;m m&#x1EDB;i 
          .excerpt.fadeInDown-2.hidden-xs
            span.text-white.text-shadow Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .button-holder.fadeInDown-3
            a.btn-lg.btn.btn-uppercase.btn-primary.shop-now-button(href='index6c11.html?page=single-product') Mua ngay
        // /.caption
      // /.container-fluid
    // /.item
    .item(style='background-image: url(/assets/images/sliders/02.png);')
      .container-fluid
        .caption.bg-color.vertical-center.text-left
          .slider-header.fadeInDown-1.text-white.text-shadow Th&aacute;ng 04
          .big-text.fadeInDown-1.text-white.text-shadow  S&#x1EA3;n ph&#x1EA9;m b&aacute;n ch&#x1EA1;y nh&#x1EA5;t 
          .excerpt.fadeInDown-2.hidden-xs
            span.text-white.text-shadow Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
          .button-holder.fadeInDown-3
            a.btn-lg.btn.btn-uppercase.btn-primary.shop-now-button(href='index6c11.html?page=single-product') Mua ngay
        // /.caption
      // /.container-fluid
    // /.item
  // /.owl-carousel