// Begin Li's Static Home Area
html
  head
  body
    .li-static-home
      .container
        .row
          .col-lg-12
            // Begin Li's Static Home Image Area
            .li-static-home-image
            // Li's Static Home Image Area End Here
            // Begin Li's Static Home Content Area
            .li-static-home-content
              p
                | Sale Offer
                span -20% Off
                | This Week
              |
              h2 Featured Product
              |
              h2 Meito Accessories 2018
              |
              p.schedule
                | Starting at
                span  $1209.00
              |
              .default-btn
                a.links(href='shop-left-sidebar.html') Shopping Now
            // Li's Static Home Content Area End Here
    // Li's Static Home Area End Here
