// Begin Li's Trending Product Area
html
  head
  body
    section.product-area.li-trending-product.pt-60.pb-45
      .container
        .row
          // Begin Li's Tab Menu Area
          .col-lg-12
            .li-product-tab.li-trending-product-tab
              h2
                span Trendding Products
              |                                 
              ul.nav.li-product-menu.li-trending-product-menu
                li
                  a.active(data-toggle='tab', href='#home1')
                    span Sanai
                |                                    
                li
                  a(data-toggle='tab', href='#home2')
                    span Camera Accessories
                |                                    
                li
                  a(data-toggle='tab', href='#home3')
                    span XailStation
            // Begin Li's Tab Menu Content Area
            .tab-content.li-tab-content.li-trending-product-content
              #home1.tab-pane.show.fade.in.active
                .row
                  .product-active.owl-carousel
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/2.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/4.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/6.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/8.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/10.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/12.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
              |                                 
              #home2.tab-pane.fade
                .row
                  .product-active.owl-carousel
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/11.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/7.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/9.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/5.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/7.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/5.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
              |                                 
              #home3.tab-pane.fade
                .row
                  .product-active.owl-carousel
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/3.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/7.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/9.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/1.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/11.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Graphic Corner
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Accusantium dolorem1
                            |                                                             
                            .price-box
                              span.new-price $46.80
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
                    |                                             
                    .col-lg-12
                      // single-product-wrap start
                      .single-product-wrap
                        .product-image
                          a(href='single-product.html')
                            img(src='images/product/large-size/9.jpg', alt="Li's Product Image")
                          |                                                         
                          span.sticker New
                        |                                                     
                        .product_desc
                          .product_desc_info
                            .product-review
                              h5.manufacturer
                                a(href='shop-left-sidebar.html') Studio Design
                              |                                                                 
                              .rating-box
                                ul.rating
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                                  |                                                                         
                                  li.no-star
                                    i.fa.fa-star-o
                            |                                                             
                            h4
                              a.product_name(href='single-product.html') Mug Today is a good day
                            |                                                             
                            .price-box
                              span.new-price.new-price-2 $71.80
                              |                                                                 
                              span.old-price $77.22
                              |                                                                 
                              span.discount-percentage -7%
                          |                                                         
                          .add-actions
                            ul.add-actions-link
                              li.add-cart.active
                                a(href='#') Add to cart
                              |                                                                 
                              li
                                a.links-details(href='wishlist.html')
                                  i.fa.fa-heart-o
                              |                                                                 
                              li
                                a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                  i.fa.fa-eye
                      // single-product-wrap end
            // Tab Menu Content Area End Here
          // Tab Menu Area End Here
    // Li's Trending Product Area End Here
