// Begin Li's TV & Audio Product Area
html
  head
  body
    section.product-area.li-laptop-product.li-tv-audio-product.pb-45
      .container
        .row
          // Begin Li's Section Area
          .col-lg-12
            .li-section-title
              h2
                span TV &amp; Audio
              |                                 
              ul.li-sub-category-list
                li.active
                  a(href='shop-left-sidebar.html') Chamcham
                |                                     
                li
                  a(href='shop-left-sidebar.html') Sanai
                |                                     
                li
                  a(href='shop-left-sidebar.html') Meito
            |                             
            .row
              .product-active.owl-carousel
                .col-lg-12
                  // single-product-wrap start
                  .single-product-wrap
                    .product-image
                      a(href='single-product.html')
                        img(src='images/product/large-size/3.jpg', alt="Li's Product Image")
                      |                                                 
                      span.sticker New
                    |                                             
                    .product_desc
                      .product_desc_info
                        .product-review
                          h5.manufacturer
                            a(href='shop-left-sidebar.html') Graphic Corner
                          |                                                         
                          .rating-box
                            ul.rating
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                        |                                                     
                        h4
                          a.product_name(href='single-product.html') Accusantium dolorem1
                        |                                                     
                        .price-box
                          span.new-price $46.80
                      |                                                 
                      .add-actions
                        ul.add-actions-link
                          li.add-cart.active
                            a(href='#') Add to cart
                          |                                                         
                          li
                            a.links-details(href='wishlist.html')
                              i.fa.fa-heart-o
                          |                                                         
                          li
                            a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                              i.fa.fa-eye
                  // single-product-wrap end
                |                                     
                .col-lg-12
                  // single-product-wrap start
                  .single-product-wrap
                    .product-image
                      a(href='single-product.html')
                        img(src='images/product/large-size/5.jpg', alt="Li's Product Image")
                      |                                                 
                      span.sticker New
                    |                                             
                    .product_desc
                      .product_desc_info
                        .product-review
                          h5.manufacturer
                            a(href='shop-left-sidebar.html') Studio Design
                          |                                                         
                          .rating-box
                            ul.rating
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                        |                                                     
                        h4
                          a.product_name(href='single-product.html') Mug Today is a good day
                        |                                                     
                        .price-box
                          span.new-price.new-price-2 $71.80
                          |                                                         
                          span.old-price $77.22
                          |                                                         
                          span.discount-percentage -7%
                      |                                                 
                      .add-actions
                        ul.add-actions-link
                          li.add-cart.active
                            a(href='#') Add to cart
                          |                                                         
                          li
                            a.links-details(href='wishlist.html')
                              i.fa.fa-heart-o
                          |                                                         
                          li
                            a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                              i.fa.fa-eye
                  // single-product-wrap end
                |                                     
                .col-lg-12
                  // single-product-wrap start
                  .single-product-wrap
                    .product-image
                      a(href='single-product.html')
                        img(src='images/product/large-size/7.jpg', alt="Li's Product Image")
                      |                                                 
                      span.sticker New
                    |                                             
                    .product_desc
                      .product_desc_info
                        .product-review
                          h5.manufacturer
                            a(href='shop-left-sidebar.html') Graphic Corner
                          |                                                         
                          .rating-box
                            ul.rating
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                        |                                                     
                        h4
                          a.product_name(href='single-product.html') Accusantium dolorem1
                        |                                                     
                        .price-box
                          span.new-price $46.80
                      |                                                 
                      .add-actions
                        ul.add-actions-link
                          li.add-cart.active
                            a(href='#') Add to cart
                          |                                                         
                          li
                            a.links-details(href='wishlist.html')
                              i.fa.fa-heart-o
                          |                                                         
                          li
                            a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                              i.fa.fa-eye
                  // single-product-wrap end
                |                                     
                .col-lg-12
                  // single-product-wrap start
                  .single-product-wrap
                    .product-image
                      a(href='single-product.html')
                        img(src='images/product/large-size/9.jpg', alt="Li's Product Image")
                      |                                                 
                      span.sticker New
                    |                                             
                    .product_desc
                      .product_desc_info
                        .product-review
                          h5.manufacturer
                            a(href='shop-left-sidebar.html') Studio Design
                          |                                                         
                          .rating-box
                            ul.rating
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                        |                                                     
                        h4
                          a.product_name(href='single-product.html') Mug Today is a good day
                        |                                                     
                        .price-box
                          span.new-price.new-price-2 $71.80
                          |                                                         
                          span.old-price $77.22
                          |                                                         
                          span.discount-percentage -7%
                      |                                                 
                      .add-actions
                        ul.add-actions-link
                          li.add-cart.active
                            a(href='#') Add to cart
                          |                                                         
                          li
                            a.links-details(href='wishlist.html')
                              i.fa.fa-heart-o
                          |                                                         
                          li
                            a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                              i.fa.fa-eye
                  // single-product-wrap end
                |                                     
                .col-lg-12
                  // single-product-wrap start
                  .single-product-wrap
                    .product-image
                      a(href='single-product.html')
                        img(src='images/product/large-size/11.jpg', alt="Li's Product Image")
                      |                                                 
                      span.sticker New
                    |                                             
                    .product_desc
                      .product_desc_info
                        .product-review
                          h5.manufacturer
                            a(href='shop-left-sidebar.html') Graphic Corner
                          |                                                         
                          .rating-box
                            ul.rating
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                        |                                                     
                        h4
                          a.product_name(href='single-product.html') Accusantium dolorem1
                        |                                                     
                        .price-box
                          span.new-price $46.80
                      |                                                 
                      .add-actions
                        ul.add-actions-link
                          li.add-cart.active
                            a(href='#') Add to cart
                          |                                                         
                          li
                            a.links-details(href='wishlist.html')
                              i.fa.fa-heart-o
                          |                                                         
                          li
                            a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                              i.fa.fa-eye
                  // single-product-wrap end
                |                                     
                .col-lg-12
                  // single-product-wrap start
                  .single-product-wrap
                    .product-image
                      a(href='single-product.html')
                        img(src='images/product/large-size/11.jpg', alt="Li's Product Image")
                      |                                                 
                      span.sticker New
                    |                                             
                    .product_desc
                      .product_desc_info
                        .product-review
                          h5.manufacturer
                            a(href='shop-left-sidebar.html') Studio Design
                          |                                                         
                          .rating-box
                            ul.rating
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                              |                                                                 
                              li.no-star
                                i.fa.fa-star-o
                        |                                                     
                        h4
                          a.product_name(href='single-product.html') Mug Today is a good day
                        |                                                     
                        .price-box
                          span.new-price.new-price-2 $71.80
                          |                                                         
                          span.old-price $77.22
                          |                                                         
                          span.discount-percentage -7%
                      |                                                 
                      .add-actions
                        ul.add-actions-link
                          li.add-cart.active
                            a(href='#') Add to cart
                          |                                                         
                          li
                            a.links-details(href='wishlist.html')
                              i.fa.fa-heart-o
                          |                                                         
                          li
                            a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                              i.fa.fa-eye
                  // single-product-wrap end
          // Li's Section Area End Here
    // Li's TV & Audio Product Area End Here
