extends ../layouts/layout
block contents 
    #top-banner-and-menu.body-content.outer-top-vs
        .container
            .row
                .col-xs-12.col-sm-12.col-md-3.sidebar.visible-lg.visible-md.visible-sm
                    include ../layouts/compornents/side-categories
                    include ../layouts/compornents/hot-deal
                    -var title = "Special Offer"
                    include ../layouts/compornents/special-offer
                    -var title = "Special Deals"
                    include ../layouts/compornents/special-offer
                    include ../layouts/compornents/member-description
                .col-xs-12.col-sm-12.col-md-9.homebanner-holder
                    include ../layouts/compornents/slider
                    -var title= "Sản phẩm mới"
                    include ../layouts/compornents/feature-products
                        block products
                            each product in data[5]
                                include ../layouts/compornents/new-product
                    -var title= "Giảm giá"
                    include ../layouts/compornents/feature-products
                        block products
                            each product in data[7]
                                include ../layouts/compornents/sale-product
                    -var title= "Bán chạy nhất"
                    include ../layouts/compornents/feature-products
                        block products
                            each product in data[6]
                                include ../layouts/compornents/product