// Begin Footer Area
.footer
  // Begin Footer Static Top Area
  .footer-static-top
    .container
      // Begin Footer Shipping Area
      .footer-shipping.pt-60.pb-55.pb-xs-25
        .row
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-sm-55.pb-xs-55
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/1.png', alt='Shipping Icon')
              .shipping-text
                h2 Free Delivery
                p And free returns. See checkout for delivery dates.
          // Li's Shipping Inner Box Area End Here
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-sm-55.pb-xs-55
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/2.png', alt='Shipping Icon')
              .shipping-text
                h2 Safe Payment
                p Pay with the world&apos;s most popular and secure payment methods.
          // Li's Shipping Inner Box Area End Here
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-xs-30
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/3.png', alt='Shipping Icon')
              .shipping-text
                h2 Shop with Confidence
                p Our Buyer Protection covers your purchasefrom click to delivery.
          // Li's Shipping Inner Box Area End Here
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-xs-30
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/4.png', alt='Shipping Icon')
              .shipping-text
                h2 24/7 Help Center
                p Have a question? Call a Specialist or chat online.
          // Li's Shipping Inner Box Area End Here
      // Footer Shipping Area End Here
  // Footer Static Top Area End Here
  // Begin Footer Static Middle Area
  .footer-static-middle
    .container
      .footer-logo-wrap.pt-50.pb-35
        .row
          // Begin Footer Logo Area
          .col-lg-4.col-md-6
            .footer-logo
              img(src='images/menu/logo/1.jpg', alt='Footer Logo', width='180px', height='100%')
              p.info
                | We are a team of designers and developers that create high quality HTML Template &amp; Woocommerce, Shopify Theme.
            ul.des
              li
                span Address:
                |                                             6688Princess Road, London, Greater London BAS 23JK, UK
              li
                span Phone:
                a(href='#') (+123) 123 321 345
              li
                span Email:
                a(href='mailto://info@yourdomain.com') info@yourdomain.com
          // Footer Logo Area End Here
          // Begin Footer Block Area
          .col-lg-2.col-md-3.col-sm-6
            .footer-block
              h3.footer-block-title Product
              ul
                li
                  a(href='#') Prices drop
                li
                  a(href='#') New products
                li
                  a(href='#') Best sales
                li
                  a(href='#') Contact us
          // Footer Block Area End Here
          // Begin Footer Block Area
          .col-lg-2.col-md-3.col-sm-6
            .footer-block
              h3.footer-block-title Our company
              ul
                li
                  a(href='#') Delivery
                li
                  a(href='#') Legal Notice
                li
                  a(href='#') About us
                li
                  a(href='#') Contact us
          // Footer Block Area End Here
          // Begin Footer Block Area
          .col-lg-4
            .footer-block
              h3.footer-block-title Follow Us
              ul.social-link
                li.twitter
                  a(href='https://twitter.com/', data-toggle='tooltip', target='_blank', title='Twitter')
                    i.fa.fa-twitter
                li.rss
                  a(href='https://rss.com/', data-toggle='tooltip', target='_blank', title='RSS')
                    i.fa.fa-rss
                li.google-plus
                  a(href='https://www.plus.google.com/discover', data-toggle='tooltip', target='_blank', title='Google Plus')
                    i.fa.fa-google-plus
                li.facebook
                  a(href='https://www.facebook.com/', data-toggle='tooltip', target='_blank', title='Facebook')
                    i.fa.fa-facebook
                li.youtube
                  a(href='https://www.youtube.com/', data-toggle='tooltip', target='_blank', title='Youtube')
                    i.fa.fa-youtube
                li.instagram
                  a(href='https://www.instagram.com/', data-toggle='tooltip', target='_blank', title='Instagram')
                    i.fa.fa-instagram
            // Begin Footer Newsletter Area
            .footer-newsletter
              h4 Sign up to newsletter
              form#mc-embedded-subscribe-form.footer-subscribe-form.validate(action='#', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                #mc_embed_signup_scroll
                  #mc-form.mc-form.subscribe-form.form-group
                    input#mc-email(type='email', autocomplete='off', placeholder='Enter your email')
                    button#mc-submit.btn Subscribe
            // Footer Newsletter Area End Here
          // Footer Block Area End Here
  // Footer Static Middle Area End Here
  // Begin Footer Static Bottom Area
  .footer-static-bottom.pt-55.pb-55
    .container
      .row
        .col-lg-12
          // Begin Footer Links Area
          .footer-links
            ul
              li
                a(href='#') Online Shopping
              li
                a(href='#') Promotions
              li
                a(href='#') My Orders
              li
                a(href='#') Help
              li
                a(href='#') Customer Service
              li
                a(href='#') Support
              li
                a(href='#') Most Populars
              li
                a(href='#') New Arrivals
              li
                a(href='#') Special Products
              li
                a(href='#') Manufacturers
              li
                a(href='#') Our Stores
              li
                a(href='#') Shipping
              li
                a(href='#') Payments
              li
                a(href='#') Warantee
              li
                a(href='#') Refunds
              li
                a(href='#') Checkout
              li
                a(href='#') Discount
              li
                a(href='#') Refunds
              li
                a(href='#') Policy Shipping
          // Footer Links Area End Here
          // Begin Footer Payment Area
          .copyright.text-center
            a(href='#')
              img(src='images/payment/1.png', alt='')
          // Footer Payment Area End Here
          // Begin Copyright Area
          .copyright.text-center.pt-25
            span
              a(href='https://www.templatespoint.net', target='_blank') Templates Point
          // Copyright Area End Here
  // Footer Static Bottom Area End Here
// Footer Area End Here
