// Begin Footer Area
.footer
  // Begin Footer Static Top Area
  .footer-static-top
    .container
      // Begin Footer Shipping Area
      .footer-shipping.pt-60.pb-55.pb-xs-25
        .row
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-sm-55.pb-xs-55
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/1.png', alt='Shipping Icon')
              .shipping-text
                h2 Free Delivery
                p And free returns. See checkout for delivery dates.
          // Li's Shipping Inner Box Area End Here
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-sm-55.pb-xs-55
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/2.png', alt='Shipping Icon')
              .shipping-text
                h2 Safe Payment
                p Pay with the world&apos;s most popular and secure payment methods.
          // Li's Shipping Inner Box Area End Here
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-xs-30
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/3.png', alt='Shipping Icon')
              .shipping-text
                h2 Shop with Confidence
                p Our Buyer Protection covers your purchasefrom click to delivery.
          // Li's Shipping Inner Box Area End Here
          // Begin Li's Shipping Inner Box Area
          .col-lg-3.col-md-6.col-sm-6.pb-xs-30
            .li-shipping-inner-box
              .shipping-icon
                img(src='images/shipping-icon/4.png', alt='Shipping Icon')
              .shipping-text
                h2 24/7 Help Center
                p Have a question? Call a Specialist or chat online.
          // Li's Shipping Inner Box Area End Here
      // Footer Shipping Area End Here
  // Footer Static Top Area End Here
  // Begin Footer Static Middle Area
  .footer-static-middle
    .container
      .footer-logo-wrap.pt-50.pb-35
        .row
          // Begin Footer Logo Area
          .col-lg-4.col-md-6
            .footer-logo
              img(src='images/menu/logo/1.jpg', alt='Footer Logo', width='180px', height='100%')
            ul.des
              li
                span Địa chỉ:
                |  828 Sư Vạn Hạnh, P13, Quận 10, TP.HCM
              li
                span Điện thoại:
                a(href='tel:0378383986')  +843 7838 3986
              li
                span Email:
                a(href='mailto://support@kttstore.com')  support@kttstore.com
          // Footer Logo Area End Here
          // Begin Footer Block Area
          .col-lg-2.col-md-3.col-sm-6
            .footer-block
              h3.footer-block-title Product
              ul
                li
                  a(href='#') Prices drop
                li
                  a(href='#') New products
                li
                  a(href='#') Best sales
                li
                  a(href='#') Contact us
          // Footer Block Area End Here
          // Begin Footer Block Area
          .col-lg-2.col-md-3.col-sm-6
            .footer-block
              h3.footer-block-title Our company
              ul
                li
                  a(href='#') Delivery
                li
                  a(href='#') Legal Notice
                li
                  a(href='/about-us') About us
                li
                  a(href='#') Contact us
          // Footer Block Area End Here
          // Begin Footer Block Area
          .col-lg-4
            .footer-block
              h3.footer-block-title Follow Us
              ul.social-link
                li.facebook
                  a(href='https://www.facebook.com/Hacker.Jax', data-toggle='tooltip', target='_blank', title='Facebook')
                    i.fa.fa-facebook
                li.youtube
                  a(href='https://www.youtube.com/namn3383', data-toggle='tooltip', target='_blank', title='Youtube')
                    i.fa.fa-youtube
                li.instagram
                  a(href='https://www.instagram.com/vinhkyit', data-toggle='tooltip', target='_blank', title='Instagram')
                    i.fa.fa-instagram
          // Footer Block Area End Here
        // Footer Static Middle Area End Here
    // Begin Footer Static Bottom Area
    .footer-static-bottom.pt-55.pb-55
      .container
        .row
          .col-lg-12
            // Begin Footer Payment Area
            .copyright.text-center
              a(href='#')
                img(src='images/payment/1.png', alt='')
            // Footer Payment Area End Here
    // Footer Static Bottom Area End Here
  // Footer Area End Here