// Begin Header Area
header
  // Begin Header Top Area
  .header-top
    .container
      .row
        // Begin Header Top Left Area
        .col-lg-3.col-md-4
          .header-top-left
            ul
              li.phone-wrap Công ty TNHH 3 thành viên KTT
        // Header Top Left Area End Here
        // Begin Header Top Right Area
        .col-lg-9.col-md-8
          .header-top-right
            ul.ht-menu
              ul.phone-wrap
                li
                  span Hotline (miễn phí):
                  a(href='tel:0378383986')  +843 7838 3986
              // Begin Setting Area
              //
                <li>
                <div class="ht-setting-trigger"><span>Setting</span></div>
                <div class="setting ht-setting">
                <ul class="ht-setting-list">
                <li><a href="login-register.html">My Account</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="login-register.html">Sign In</a></li>
                </ul>
                </div>
                </li>
              // Setting Area End Here
              // Begin Currency Area
              li
                //- span.currency-selector-wrapper Tiền tệ:
                //- .ht-currency-trigger
                //-   span USD $
                //- .currency.ht-currency
                //-   ul.ht-setting-list
                //-     li
                //-       a(href='#') EUR &euro;
                //-     li.active
                //-       a(href='#') USD $
                span.fa.fa-youtube-play.footer-link
                    a(href="https://www.youtube.com")  Youtube Channel
              // Currency Area End Here
              // Begin Language Area
              li
                span.language-selector-wrapper Language :
                .ht-language-trigger
                  span English
                .language.ht-language
                  ul.ht-setting-list
                    li.active
                      a(href='#')
                        | English
                    li
                      a(href='#')
                        | Tiếng Việt
              // Language Area End Here
        // Header Top Right Area End Here
  // Header Top Area End Here
  // Begin Header Middle Area
  .header-middle.pl-sm-0.pr-sm-0.pl-xs-0.pr-xs-0
    .container
      .row
        // Begin Header Logo Area
        .col-lg-3
          .logo.pb-sm-30.pb-xs-30
            a(href='index.html')
              img(src='images/menu/logo/2.jpg', alt='')
        // Header Logo Area End Here
        // Begin Header Middle Right Area
        .center-bar.col-lg-9.pl-0.ml-sm-15.ml-xs-15
          // Begin Header Middle Searchbox Area
          form.hm-searchbox(action='#')
            //- select.nice-select.select-search-category
            //-   option(value='0') All
            //-   option(value='10') Laptops
            //-   option(value='17') - -  Prime Video
            //-   option(value='20') - - - -  All Videos
            //-   option(value='21') - - - -  Blouses
            //-   option(value='22') - - - -  Evening Dresses
            //-   option(value='23') - - - -  Summer Dresses
            //-   option(value='24') - - - -  T-shirts
            //-   option(value='25') - - - -  Rent or Buy
            //-   option(value='26') - - - -  Your Watchlist
            //-   option(value='27') - - - -  Watch Anywhere
            //-   option(value='28') - - - -  Getting Started
            //-   option(value='18') - - - -  Computers
            //-   option(value='29') - - - -  More to Explore
            //-   option(value='30') - - - -  TV &amp; Video
            //-   option(value='31') - - - -  Audio &amp; Theater
            //-   option(value='32') - - - -  Camera, Photo
            //-   option(value='33') - - - -  Cell Phones
            //-   option(value='34') - - - -  Headphones
            //-   option(value='35') - - - -  Video Games
            //-   option(value='36') - - - -  Wireless Speakers
            //-   option(value='19') - - - -  Electronics
            //-   option(value='37') - - - -  Amazon Home
            //-   option(value='38') - - - -  Kitchen &amp; Dining
            //-   option(value='39') - - - -  Furniture
            //-   option(value='40') - - - -  Bed &amp; Bath
            //-   option(value='41') - - - -  Appliances
            //-   option(value='11') TV &amp; Audio
            //-   option(value='42') - -  Chamcham
            //-   option(value='45') - - - -  Office
            //-   option(value='47') - - - -  Gaming
            //-   option(value='48') - - - -  Chromebook
            //-   option(value='49') - - - -  Refurbished
            //-   option(value='50') - - - -  Touchscreen
            //-   option(value='51') - - - -  Ultrabooks
            //-   option(value='52') - - - -  Blouses
            //-   option(value='43') - -  Sanai
            //-   option(value='53') - - - -  Hard Drives
            //-   option(value='54') - - - -  Graphic Cards
            //-   option(value='55') - - - -  Processors (CPU)
            //-   option(value='56') - - - -  Memory
            //-   option(value='57') - - - -  Motherboards
            //-   option(value='58') - - - -  Fans &amp; Cooling
            //-   option(value='59') - - - -  CD/DVD Drives
            //-   option(value='44') - -  Meito
            //-   option(value='60') - - - -  Sound Cards
            //-   option(value='61') - - - -  Cases &amp; Towers
            //-   option(value='62') - - - -  Casual Dresses
            //-   option(value='63') - - - -  Evening Dresses
            //-   option(value='64') - - - -  T-shirts
            //-   option(value='65') - - - -  Tops
            //-   option(value='12') Smartphone
            //-   option(value='66') - -  Camera Accessories
            //-   option(value='68') - - - -  Octa Core
            //-   option(value='69') - - - -  Quad Core
            //-   option(value='70') - - - -  Dual Core
            //-   option(value='71') - - - -  7.0 Screen
            //-   option(value='72') - - - -  9.0 Screen
            //-   option(value='73') - - - -  Bags &amp; Cases
            //-   option(value='67') - -  XailStation
            //-   option(value='74') - - - -  Batteries
            //-   option(value='75') - - - -  Microphones
            //-   option(value='76') - - - -  Stabilizers
            //-   option(value='77') - - - -  Video Tapes
            //-   option(value='78') - - - -  Memory Card Readers
            //-   option(value='79') - - - -  Tripods
            //-   option(value='13') Cameras
            //-   option(value='14') headphone
            //-   option(value='15') Smartwatch
            //-   option(value='16') Accessories
            input(type='text', placeholder='Enter your search key ...')
            button.li-btn(type='submit')
              i.fa.fa-search
          // Header Middle Searchbox Area End Here
          // Begin Header Middle Right Area
          .header-middle-right
            ul.hm-menu
              // Begin Header Middle Wishlist Area
              li.hm-wishlist
                a(href='wishlist.html')
                  span.cart-item-count.wishlist-item-count 0
                  i.fa.fa-heart-o
              // Header Middle Wishlist Area End Here
              // Begin Header Mini Cart Area
              li.hm-minicart
                .hm-minicart-trigger
                  span.item-icon
                  span.item-text
                    | 800.000
                    span.cart-item-count 2
                span
                //
                  <div class="minicart">
                  <ul class="minicart-product-list">
                  <li>
                  <a href="single-product.html" class="minicart-product-image">
                  <img src="images/product/small-size/5.jpg" alt="cart products">
                  </a>
                  <div class="minicart-product-details">
                  <h6><a href="single-product.html">Aenean eu tristique</a></h6>
                  <span>£40 x 1</span>
                  </div>
                  <button class="close" title="Remove">
                  <i class="fa fa-close"></i>
                  </button>
                  </li>
                  <li>
                  <a href="single-product.html" class="minicart-product-image">
                  <img src="images/product/small-size/6.jpg" alt="cart products">
                  </a>
                  <div class="minicart-product-details">
                  <h6><a href="single-product.html">Aenean eu tristique</a></h6>
                  <span>£40 x 1</span>
                  </div>
                  <button class="close" title="Remove">
                  <i class="fa fa-close"></i>
                  </button>
                  </li>
                  </ul>
                  <p class="minicart-total">SUBTOTAL: <span>£80.00</span></p>
                  <div class="minicart-button">
                  <a href="shopping-cart.html" class="li-button li-button-fullwidth li-button-dark">
                  <span>View Full Cart</span>
                  </a>
                  <a href="checkout.html" class="li-button li-button-fullwidth">
                  <span>Checkout</span>
                  </a>
                  </div>
                  </div>
              // Header Mini Cart Area End Here
          // Header Middle Right Area End Here
        // Header Middle Right Area End Here
  // Header Middle Area End Here
  // Begin Header Bottom Area
  .header-bottom.header-sticky.d-none.d-lg-block.d-xl-block
    .container
      .row
        .col-lg-12
          // Begin Header Bottom Menu Area
          .hb-menu
            nav
              ul
                li
                  a(href='index') Trang chủ
                li.megamenu-holder
                  a(href='shop-left-sidebar.html') Sản phẩm
                  ul
                    //- li
                    //-   a(href='shop-left-sidebar.html') Shop Page Layout
                    //-   ul
                    //-     li
                    //-       a(href='shop-3-column.html') Shop 3 Column
                    //-     li
                    //-       a(href='shop-4-column.html') Shop 4 Column
                    //-     li
                    //-       a(href='shop-left-sidebar.html') Shop Left Sidebar
                    //-     li
                    //-       a(href='shop-right-sidebar.html') Shop Right Sidebar
                    //-     li
                    //-       a(href='shop-list.html') Shop List
                    //-     li
                    //-       a(href='shop-list-left-sidebar.html') Shop List Left Sidebar
                    //-     li
                    //-       a(href='shop-list-right-sidebar.html') Shop List Right Sidebar
                    //- li
                    //-   a(href='single-product-gallery-left.html') Single Product Style
                    //-   ul
                    //-     li
                    //-       a(href='single-product-carousel.html') Single Product Carousel
                    //-     li
                    //-       a(href='single-product-gallery-left.html') Single Product Gallery Left
                    //-     li
                    //-       a(href='single-product-gallery-right.html') Single Product Gallery Right
                    //-     li
                    //-       a(href='single-product-tab-style-top.html') Single Product Tab Style Top
                    //-     li
                    //-       a(href='single-product-tab-style-left.html') Single Product Tab Style Left
                    //-     li
                    //-       a(href='single-product-tab-style-right.html') Single Product Tab Style Right
                    //- li
                    //-   a(href='single-product.html') Single Products
                    //-   ul
                    //-     li
                    //-       a(href='single-product.html') Single Product
                    //-     li
                    //-       a(href='single-product-sale.html') Single Product Sale
                    //-     li
                    //-       a(href='single-product-group.html') Single Product Group
                    //-     li
                    //-       a(href='single-product-normal.html') Single Product Normal
                    //-     li
                    //-       a(href='single-product-affiliate.html') Single Product Affiliate
                li.dropdown-holder
                  a(href='blog-left-sidebar.html') Tin tức
                  ul
                    //- li.sub-dropdown-holder
                    //-   a(href='blog-left-sidebar.html') Blog Grid View
                    //-   ul.hb-dropdown.hb-sub-dropdown
                    //-     li
                    //-       a(href='blog-2-column.html') Blog 2 Column
                    //-     li
                    //-       a(href='blog-3-column.html') Blog 3 Column
                    //-     li
                    //-       a(href='blog-left-sidebar.html') Grid Left Sidebar
                    //-     li
                    //-       a(href='blog-right-sidebar.html') Grid Right Sidebar
                    //- li.sub-dropdown-holder
                    //-   a(href='blog-list-left-sidebar.html') Blog List View
                    //-   ul.hb-dropdown.hb-sub-dropdown
                    //-     li
                    //-       a(href='blog-list.html') Blog List
                    //-     li
                    //-       a(href='blog-list-left-sidebar.html') List Left Sidebar
                    //-     li
                    //-       a(href='blog-list-right-sidebar.html') List Right Sidebar
                    //- li.sub-dropdown-holder
                    //-   a(href='blog-details-left-sidebar.html') Blog Details
                    //-   ul.hb-dropdown.hb-sub-dropdown
                    //-     li
                    //-       a(href='blog-details-left-sidebar.html') Left Sidebar
                    //-     li
                    //-       a(href='blog-details-right-sidebar.html') Right Sidebar
                    //- li.sub-dropdown-holder
                    //-   a(href='blog-gallery-format.html') Blog Format
                    //-   ul.hb-dropdown.hb-sub-dropdown
                    //-     li
                    //-       a(href='blog-audio-format.html') Blog Audio Format
                    //-     li
                    //-       a(href='blog-video-format.html') Blog Video Format
                    //-     li
                    //-       a(href='blog-gallery-format.html') Blog Gallery Format
                li.megamenu-static-holder
                  a(href='index.html') Giỏ hàng
                  ul
                    //- li
                    //-   a(href='blog-left-sidebar.html') Blog Layouts
                    //-   ul
                    //-     li
                    //-       a(href='blog-2-column.html') Blog 2 Column
                    //-     li
                    //-       a(href='blog-3-column.html') Blog 3 Column
                    //-     li
                    //-       a(href='blog-left-sidebar.html') Grid Left Sidebar
                    //-     li
                    //-       a(href='blog-right-sidebar.html') Grid Right Sidebar
                    //-     li
                    //-       a(href='blog-list.html') Blog List
                    //-     li
                    //-       a(href='blog-list-left-sidebar.html') List Left Sidebar
                    //-     li
                    //-       a(href='blog-list-right-sidebar.html') List Right Sidebar
                    //- li
                    //-   a(href='blog-details-left-sidebar.html') Blog Details Pages
                    //-   ul
                    //-     li
                    //-       a(href='blog-details-left-sidebar.html') Left Sidebar
                    //-     li
                    //-       a(href='blog-details-right-sidebar.html') Right Sidebar
                    //-     li
                    //-       a(href='blog-audio-format.html') Blog Audio Format
                    //-     li
                    //-       a(href='blog-video-format.html') Blog Video Format
                    //-     li
                    //-       a(href='blog-gallery-format.html') Blog Gallery Format
                    //- li
                    //-   a(href='index.html') Other Pages
                    //-   ul
                    //-     li
                    //-       a(href='login-register.html') My Account
                    //-     li
                    //-       a(href='checkout.html') Checkout
                    //-     li
                    //-       a(href='compare.html') Compare
                    //-     li
                    //-       a(href='wishlist.html') Wishlist
                    //-     li
                    //-       a(href='shopping-cart.html') Shopping Cart
                    //- li
                    //-   a(href='index.html') Other Pages 2
                    //-   ul
                    //-     li
                    //-       a(href='contact.html') Contact
                    //-     li
                    //-       a(href='about-us.html') About Us
                    //-     li
                    //-       a(href='faq.html') FAQ
                    //-     li
                    //-       a(href='404.html') 404 Error
                li
                  a(href='about-us.html') Về chúng tôi
                li
                  a(href='contact.html') Liên hệ
          // Header Bottom Menu Area End Here
  // Header Bottom Area End Here
  // Begin Mobile Menu Area
  .mobile-menu-area.d-lg-none.d-xl-none.col-12
    .container
      .row
        .mobile-menu
  // Mobile Menu Area End Here
// Header Area End Here
