doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title KTT Store | Điện thoại di động chính hãng - Uy tín toàn thế giới
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='css/material-design-iconic-font.min.css')
  // Font Awesome
  link(rel='stylesheet', href='css/font-awesome.min.css')
  // Font Awesome Stars
  link(rel='stylesheet', href='css/fontawesome-stars.css')
  // Meanmenu CSS
  link(rel='stylesheet', href='css/meanmenu.css')
  // owl carousel CSS
  link(rel='stylesheet', href='css/owl.carousel.min.css')
  // Slick Carousel CSS
  link(rel='stylesheet', href='css/slick.css')
  // Animate CSS
  link(rel='stylesheet', href='css/animate.css')
  // Jquery-ui CSS
  link(rel='stylesheet', href='css/jquery-ui.min.css')
  // Venobox CSS
  link(rel='stylesheet', href='css/venobox.css')
  // Nice Select CSS
  link(rel='stylesheet', href='css/nice-select.css')
  // Magnific Popup CSS
  link(rel='stylesheet', href='css/magnific-popup.css')
  // Bootstrap V4.1.3 Fremwork CSS
  link(rel='stylesheet', href='css/bootstrap.min.css')
  // Helper CSS
  link(rel='stylesheet', href='css/helper.css')
  // Main Style CSS
  link(rel='stylesheet', href='css/app.css')
  // Responsive CSS
  link(rel='stylesheet', href='css/responsive.css')
  // Modernizr js
  script(src='js/vendor/modernizr-2.8.3.min.js')
body
  include ../partials/header
  include ../partials/home
  include ../partials/footer
// Body Wrapper End Here
// jQuery-V1.12.4
script(src='js/vendor/jquery-1.12.4.min.js')
// Popper js
script(src='js/vendor/popper.min.js')
// Bootstrap V4.1.3 Fremwork js
script(src='js/bootstrap.min.js')
// Ajax Mail js
script(src='js/ajax-mail.js')
// Meanmenu js
script(src='js/jquery.meanmenu.min.js')
// Wow.min js
script(src='js/wow.min.js')
// Slick Carousel js
script(src='js/slick.min.js')
// Owl Carousel-2 js
script(src='js/owl.carousel.min.js')
// Magnific popup js
script(src='js/jquery.magnific-popup.min.js')
// Isotope js
script(src='js/isotope.pkgd.min.js')
// Imagesloaded js
script(src='js/imagesloaded.pkgd.min.js')
// Mixitup js
script(src='js/jquery.mixitup.min.js')
// Countdown
script(src='js/jquery.countdown.min.js')
// Counterup
script(src='js/jquery.counterup.min.js')
// Waypoints
script(src='js/waypoints.min.js')
// Barrating
script(src='js/jquery.barrating.min.js')
// Jquery-ui
script(src='js/jquery-ui.min.js')
// Venobox
script(src='js/venobox.min.js')
// Nice Select js
script(src='js/jquery.nice-select.min.js')
// ScrollUp js
script(src='js/scrollUp.min.js')
// Main/Activator js
script(src='js/main.js')
