.body-content.outer-top-xs
  .container
    .row
      .shopping-cart
        .shopping-cart-table
          .table-responsive
            table.table
              thead
                tr
                  th.cart-romove.item X&oacute;a
                  th.cart-description.item H&igrave;nh &#x1EA3;nh
                  th.cart-product-name.item(colspan='2') T&ecirc;n s&#x1EA3;n ph&#x1EA9;m
                  th.cart-qty.item S&#x1ED1; l&#x1B0;&#x1EE3;ng
                  th.cart-sub-total.item T&#x1EA1;m t&iacute;nh
                  th.cart-total.last-item T&#x1ED5;ng c&#x1ED9;ng
              // /thead
              tbody
                // Cart Item
                each product in products
                  include ./cart-item
              // /tbody
              tfoot
                tr
                  td(colspan='7')
                    .shopping-cart-btn
                      span
                        a.btn.btn-upper.btn-primary.outer-left-xs(href='#') Ti&#x1EBF;p t&#x1EE5;c mua h&agrave;ng
                        a.btn.btn-upper.btn-primary.pull-right.outer-right-xs(href='#') C&#x1EAD;p nh&#x1EAD;t gi&#x1ECF; h&agrave;ng
            // /table
        // /.shopping-cart-table
        .col-md-4.col-sm-12.estimate-ship-tax
          table.table
            thead
              tr
                th
                  span.estimate-title Th&ocirc;ng tin giao h&agrave;ng
                  p Nh&#x1EAD;p th&ocirc;ng tin giao h&agrave;ng c&#x1EE7;a b&#x1EA1;n &#x1EDF; &dstrok;&acirc;y.
            // /thead
            tbody
              tr
                td
                  .form-group
                    label.info-title.control-label
                      | T&ecirc;n 
                      span *
                    input.form-control.form-control.unicase-form-control.text-input(type='text', placeholder='Nhập tên của bạn', value = name)
                  .form-group
                    label.info-title.control-label
                      | S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i 
                      span *
                    input.form-control.form-control.unicase-form-control.text-input(type='text', placeholder='Nhập số điện thoại', value = phone)
                  .form-group
                    label.info-title.control-label Email
                    input.form-control.form-control.unicase-form-control.text-input(type='text', placeholder='Nhập email của bạn', value = email)
                  .form-group
                    label.info-title.control-label
                      | Th&agrave;nh ph&#x1ED1; 
                      span *
                    select.form-control.unicase-form-control.selectpicker
                        option --Select Option--
                        each city in listCity
                          option(value=city.id)= city.name
                  .form-group
                    label.info-title.control-label
                      | Qu&#x1EAD;n/Huy&#x1EC7;n 
                      span *
                    select.form-control.unicase-form-control.selectpicker
                      option --Select options--
                      option TamilNadu
                      option Kerala
                      option Andhra Pradesh
                      option Karnataka
                      option Madhya Pradesh
                  .pull-right
                    button.btn-upper.btn.btn-primary(type='submit') X&aacute;c nh&#x1EAD;n
        // /.estimate-ship-tax
        .col-md-4.col-sm-12.estimate-ship-tax
          table.table
            thead
              tr
                th
                  span.estimate-title M&atilde; gi&#x1EA3;m gi&aacute;
                  p Nh&#x1EAD;p m&atilde; gi&#x1EA3;m gi&aacute; &#x1EDF; &dstrok;&acirc;y n&#x1EBF;u c&oacute;.
            tbody
              tr
                td
                  .form-group
                    input.form-control.unicase-form-control.text-input(type='text', placeholder='Mã giảm giá')
                  .clearfix.pull-right
                    button.btn-upper.btn.btn-primary(type='submit') &Aacute;p d&#x1EE5;ng m&atilde; gi&#x1EA3;m
            // /tbody
          // /table
        // /.estimate-ship-tax
        .col-md-4.col-sm-12.cart-shopping-total
          table.table
            thead
              tr
                th
                  .cart-sub-total
                    | T&#x1EA1;m t&iacute;nh
                    span.inner-left-md= finalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                  .cart-grand-total
                    | T&#x1ED5;ng c&#x1ED9;ng
                    span.inner-left-md= finalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})
            // /thead
            tbody
              tr
                td
                  .cart-checkout-btn.pull-right
                    button.btn.btn-primary.checkout-btn(type='submit') Thanh to&aacute;n
            // /tbody
          // /table
        // /.cart-shopping-total
      // /.shopping-cart
