extends ../layouts/layout
block contents
    .body-content.outer-top-xs
        .container
            .row
                .col-xs-12.col-sm-12.col-md-3.sidebar
                    .sidebar-module-container
                        include ../layouts/compornents/sort-sidebar
                        
                        include ../layouts/compornents/member-description
                        
                .col-xs-12.col-sm-12.col-md-9.rht-col
                    .clearfix.filters-container.m-t-10
                        .row
                            .col.col-sm-6.col-md-3.col-lg-3.col-xs-6
                                .filter-tabs
                                    ul#filter-tabs.nav.nav-tabs.nav-tab-box.nav-tab-fa-icon
                                        li.active
                                            a(data-toggle='tab', href='#grid-container')
                                                i.icon.fa.fa-th-large
                                                | Grid
                                        li
                                            a(data-toggle='tab', href='#list-container')
                                                i.icon.fa.fa-bars
                                                | List
                                // /.filter-tabs
                            // /.col
                            .col.col-sm-12.col-md-5.col-lg-5.hidden-sm
                                .col.col-sm-6.col-md-6.no-padding
                                    .lbl-cnt
                                        span.lbl Sort by
                                        .fld.inline
                                            .dropdown.dropdown-small.dropdown-med.dropdown-white.inline
                                                button.btn.dropdown-toggle(data-toggle='dropdown', type='button')
                                                    | Position 
                                                    span.caret
                                                ul.dropdown-menu(role='menu')
                                                    li(role='presentation')
                                                        a(href='#') position
                                                    li(role='presentation')
                                                        a(href='#') Price:Lowest first
                                                    li(role='presentation')
                                                        a(href='#') Price:HIghest first
                                                    li(role='presentation')
                                                        a(href='#') Product Name:A to Z
                                        // /.fld
                                    // /.lbl-cnt
                                // /.col
                                .col.col-sm-6.col-md-6.no-padding.hidden-sm.hidden-md
                                    .lbl-cnt
                                        span.lbl Show
                                        .fld.inline
                                            .dropdown.dropdown-small.dropdown-med.dropdown-white.inline
                                                button.btn.dropdown-toggle(data-toggle='dropdown', type='button')
                                                    | 1 
                                                    span.caret
                                                ul.dropdown-menu(role='menu')
                                                    li(role='presentation')
                                                        a(href='#') 1
                                                    li(role='presentation')
                                                        a(href='#') 2
                                                    li(role='presentation')
                                                        a(href='#') 3
                                                    li(role='presentation')
                                                        a(href='#') 4
                                                    li(role='presentation')
                                                        a(href='#') 5
                                                    li(role='presentation')
                                                        a(href='#') 6
                                                    li(role='presentation')
                                                        a(href='#') 7
                                                    li(role='presentation')
                                                        a(href='#') 8
                                                    li(role='presentation')
                                                        a(href='#') 9
                                                    li(role='presentation')
                                                        a(href='#') 10
                                        // /.fld
                                    // /.lbl-cnt
                                // /.col
                            // /.col
                            .col.col-sm-6.col-md-4.col-xs-6.col-lg-4.text-right
                                .pagination-container
                                    ul.list-inline.list-unstyled
                                        if (page === 1)
                                            li.prev.disabled
                                                a(href='?page=' + (page - 1))
                                                    i.fa.fa-angle-left
                                        else 
                                            li.prev
                                                a(href='?page=' + (page - 1))
                                                    i.fa.fa-angle-left
                                        if (page !== 1)
                                            li
                                                a(href='?page=' + (page - 1))= page - 1
                                        li
                                            a(href='?page=' + page)= page
                                        if ((page + 1) <= maxPage)
                                            li
                                                a(href='?page=' + (page + 1))= page + 1
                                        if ((page + 2) <= maxPage)
                                            li
                                                a(href='?page=' + (page + 2))= page + 2
                                        if (page === maxPage)
                                            li.next.disabled    
                                                a(href='?page=' + (page + 1))
                                                    i.fa.fa-angle-right
                                        else
                                            li.next
                                                a(href='?page=' + (page + 1))
                                                    i.fa.fa-angle-right
                                    // /.list-inline
                                // /.pagination-container
                            // /.col
                        // /.row
                    .search-result-container
                        #myTabContent.tab-content.category-list
                            #grid-container.tab-pane.active
                                .category-product
                                    .row
                                        each product in products
                                            .col-sm-6.col-md-4.col-lg-3
                                                include ../layouts/compornents/product-grid
                                    // /.row
                                // /.category-product
                            // /.tab-pane
                            #list-container.tab-pane
                                .category-product
                                    each product in products
                                        include ../layouts/compornents/product-list
                                // /.category-product
                            // /.tab-pane #list-container
                        // /.tab-content
                        .clearfix.filters-container.bottom-row
                            .text-right
                                .pagination-container
                                    ul.list-inline.list-unstyled
                                        if (page === 1)
                                            li.prev.disabled
                                                a(href='?page=' + (page - 1))
                                                    i.fa.fa-angle-left
                                        else 
                                            li.prev
                                                a(href='?page=' + (page - 1))
                                                    i.fa.fa-angle-left
                                        if (page !== 1)
                                            li
                                                a(href='?page=' + (page - 1))= page - 1
                                        li
                                            a(href='?page=' + page)= page
                                        if ((page + 1) <= maxPage)
                                            li
                                                a(href='?page=' + (page + 1))= page + 1
                                        if ((page + 2) <= maxPage)
                                            li
                                                a(href='?page=' + (page + 2))= page + 2
                                        if (page === maxPage)
                                            li.next.disabled    
                                                a(href='?page=' + (page + 1))
                                                    i.fa.fa-angle-right
                                        else
                                            li.next
                                                a(href='?page=' + (page + 1))
                                                    i.fa.fa-angle-right
                                // /.list-inline
                            // /.pagination-container
                        // /.text-right
                        // /.filters-container
                    // /.search-result-container
                // /.col
            // /.row