if (paggination !== false) 
    nav.mt-5(aria-label='Page navigation example')
        ul.pagination.justify-content-center
            if (page === 1)
                li.page-item.disabled
                    a.page-link(href='?page='+(page-1), tabindex='-1', aria-disabled='true') 
                        i.fal.fa-chevron-left
            else
                li.page-item
                    a.page-link(href='?page='+(page-1), tabindex='-1', aria-disabled='true') 
                        i.fal.fa-chevron-left
            if (page !== 1)
                li.page-item
                    a.page-link(href='?page='+(page-1))=(page-1)
            li.page-item
                a.page-link(href='?page='+page)=page
            if (page !== (countItems/limit))
                li.page-item
                    a.page-link(href='?page='+(page+1))=(page+1)
            if (page === (countItems/limit))
                li.page-item.disabled
                    a.page-link(href='?page='+(page+1)) 
                        i.fal.fa-chevron-right
            else
                li.page-item
                    a.page-link(href='?page='+(page+1)) 
                        i.fal.fa-chevron-right